name: build-deploy
on:
  push:
    branches:
      - '*'
permissions:
  contents: read
  id-token: write
jobs:
  build:
    name: Build
    uses: navikt/oh-workflows/.github/workflows/build-backend.yml@main
    with:
      java-version: 21
      build-tool: gradle
  deploy-dev:
    name: Deploy
    needs: build
    uses: navikt/oh-workflows/.github/workflows/deploy-dev.yml@main
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: dev-gcp
      environments: "['dev']"
